In [1]:
import os
import re
import unicodedata
import pandas as pd

In [5]:
input_file = "../files/input/solicitudes_de_credito.csv"
df = pd.read_csv(input_file, sep=";")

In [7]:
df["comuna_ciudadano"].unique()

array([10.,  9.,  4., 60.,  7.,  6., 15.,  1.,  5.,  3., 90.,  2., 13.,
       80.,  8., 12., 16., 14., 11., 50., 70.])

In [112]:
clear_output = "../files/output/solicitudes_de_credito.csv"
dfo = pd.read_csv(clear_output, sep=";")

In [ ]:
display(dfo)

In [113]:
dfo["sexo"].value_counts().unique()

array([6617, 3589])

In [109]:
dfo.barrio.value_counts().to_list()

[990,
 483,
 423,
 383,
 376,
 372,
 361,
 348,
 328,
 308,
 270,
 255,
 255,
 247,
 234,
 232,
 231,
 202,
 174,
 170,
 169,
 124,
 117,
 115,
 114,
 90,
 89,
 89,
 86,
 85,
 78,
 72,
 70,
 67,
 65,
 59,
 55,
 52,
 50,
 49,
 48,
 48,
 48,
 47,
 45,
 44,
 43,
 43,
 43,
 40,
 38,
 37,
 36,
 36,
 34,
 34,
 33,
 33,
 32,
 30,
 27,
 27,
 27,
 26,
 26,
 25,
 25,
 24,
 24,
 24,
 24,
 23,
 23,
 21,
 21,
 21,
 20,
 20,
 20,
 17,
 17,
 17,
 16,
 14,
 14,
 14,
 14,
 13,
 13,
 12,
 11,
 11,
 11,
 11,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [108]:
barrio_counts = dfo["barrio"].value_counts().head(120).reset_index()
barrio_counts.columns = ["barrio", "conteo"]
print(barrio_counts)

                     barrio  conteo
0                   robledo     990
1    manrique central no. 1     483
2           san javier no.1     423
3                  aranjuez     383
4                     belen     376
..                      ...     ...
115          eduardo santos       6
116               el salado       6
117              el triunfo       6
118              el corazon       6
119              el pesebre       6

[120 rows x 2 columns]

In [106]:
dfo["estrato"].value_counts().head(120).to_list()

[5023, 3151, 2029, 3]

In [107]:
dfo["fecha_de_beneficio"].value_counts().head(120).to_list()

[61,
 58,
 41,
 39,
 39,
 39,
 38,
 37,
 37,
 37,
 37,
 36,
 35,
 34,
 34,
 34,
 33,
 33,
 32,
 32,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 20,
 20,
 20,
 20,
 20,
 20]

In [110]:
dfo.monto_del_credito.value_counts().to_list()

[1174,
 1056,
 1048,
 942,
 757,
 618,
 583,
 482,
 469,
 385,
 285,
 181,
 148,
 147,
 143,
 131,
 130,
 125,
 106,
 95,
 93,
 70,
 60,
 59,
 51,
 43,
 27,
 24,
 22,
 19,
 17,
 17,
 16,
 16,
 15,
 14,
 14,
 12,
 11,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [114]:
dfo.línea_credito.value_counts().to_list()

[10020, 70, 55, 33, 21, 4, 1, 1, 1]

In [105]:
dfo.comuna_ciudadano.value_counts().to_list()

[1326,
 1133,
 968,
 830,
 830,
 729,
 667,
 636,
 588,
 559,
 426,
 391,
 296,
 267,
 227,
 191,
 64,
 29,
 27,
 12,
 10]